gunicorn==20.0.4
Flask==1.0.2
Keras==2.3.1
jupyter==1.0.0
Pillow==5.4.1
numpy==1.20.3
scikit-learn==0.20.2
tensorflow-cpu==2.2.1
matplotlib==3.0.2
scikit-image==0.18.1
gevent==21.1.2
opencv-python==3.4.2.17
